{% load static %} {% include "sidebar.html" %} {% block content %}
<div class="p-4 sm:ml-64">
  <p class="text-2xl m-2 font-semibold tracking-tight leading-none text-black">
    Dashboard
  </p>
  <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700" />

  <div class="flex h-60 mt-10">

    <!-- Active projects section -->
    <div class="w-1/2 md:">
      <p class="m-2">Active projects</p>
      <div
        class="m-2 max-w-lg h-64 p-6 bg-white border border-gray-200 rounded-lg shadow-sm sm:p-8 dark:bg-customBlue dark:border-gray-700"
      >
        <div class="">
          <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
            {% for active in active_projects %}
            <li class="">
              <div class="flex items-center">
                <div class="flex-1 min-w-0 ms-4">
                  <p
                    class="text-base font-medium text-gray-900 truncate dark:text-white"
                  >
                    Project Name: {{ active.title }}
                  </p>
                  <p class="text-base text-gray-100 truncate dark:text-gray-100">
                    No of Milestones: {{no_of_milestones}}
                  </p>
                  <p class="text-base text-gray-100 truncate dark:text-gray-100">
                    Budget: Ksh. {{ active.budget }}
                  </p>
                </div>
                <div
                  class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white"
                >
                <button
                class="rounded-md mb-2 mr-3 bg-slate-800 py-2 px-4 border border-transparent text-center text-sm text-white transition-all shadow-md hover:shadow-lg focus:bg-slate-700 focus:shadow-none active:bg-slate-700 hover:bg-slate-700 active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none ml-2"
                type="button"
              >
                View
              </button>
                  
                </div>
              </div>
            </li>
            <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700" />
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

    <!-- Escrow account section -->
    <div class="w-1/2">
      <p class="m-2">Escrow account</p>
      <div
        class="max-w-lg h-64 p-6 bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-customBlue dark:border-gray-700"
      >
        <a href="#">
          <h5
            class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white"
          >
            Total Escrow amount: Ksh. 50,000
          </h5>
        </a>
        <hr class="h-px bg-gray-200 border-0 dark:bg-gray-700" />
        <div class="flow-root">
          <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
            <li class="py-3 sm:py-4">
              <div class="flex items-center">
                <div class="shrink-0">
                  <p>Project Name:</p>
                </div>
                <div class="flex-1 min-w-0 ms-4">
                  <p
                    class="text-sm font-medium text-gray-900 truncate dark:text-white"
                  >
                    Bakery Website
                  </p>
                </div>
                <div
                  class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white"
                >
                  Ksh. 35,000
                </div>
              </div>
            </li>
            <li class="py-3 sm:py-4">
              <div class="flex items-center">
                <div class="shrink-0">
                  <p>Project Name:</p>
                </div>
                <div class="flex-1 min-w-0 ms-4">
                  <p
                    class="text-sm font-medium text-gray-900 truncate dark:text-white"
                  >
                    AI Website Implementation
                  </p>
                </div>
                <div
                  class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white"
                >
                  Ksh. 15,000
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock%}
