{% load static %} {% include "sidebar.html" %} {% block content %}
<script src="{% static 'profile.js' %}"></script>
<div class="p-4 sm:ml-64">
  <p class="text-2xl m-2 font-semibold tracking-tight leading-none text-black">
    Profiles
  </p>
  <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700" />
  <!-- personal information section -->
  <div>
    <div class="flex items-center justify-center">
      <div class="py-2">
        <p class="font-semibold text-xl">Personal Information</p>
      </div>
    </div>

    <!-- error messages display -->
    {% for m in messages %}
    <p>{{ m }}</p>
    {% endfor %}

    <div class="grid grid-cols-2 gap-4 mb-4">
      <div class="block h-58 mb-4 rounded-xl bg-profile_gray max-w-screen-xl">
        <div class="flex items-center justify-between">
          <div class="block items-start">
            <p class="text-lg ml-4 py-2 text-black font-semibold font-serif">
              First Name: {{ user.first_name }}
            </p>
            <p class="text-lg ml-4 py-2 text-black font-semibold font-serif">
              Last Name: {{ user.last_name }}
            </p>
            <p class="text-lg ml-4 py-2 text-black font-semibold font-serif">
              Email: {{ user.email }}
            </p>
            <p class="text-lg ml-4 py-2 text-black font-semibold font-serif">
              Username: {{ user.username }}
            </p>
          </div>
          <button
            data-dialog-target="profile-info-modal"
            class="rounded-md mb-2 mr-3 bg-slate-800 py-2 px-4 border border-transparent text-center text-sm text-white transition-all shadow-md hover:shadow-lg focus:bg-slate-700 focus:shadow-none active:bg-slate-700 hover:bg-slate-700 active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none ml-2"
            type="button"
          >
            Profile Update
          </button>
        </div>
      </div>
      <!-- account type section -->
      <div class="block h-58 mb-4 rounded-xl bg-profile_gray max-w-screen-xl">
        <div class="flex items-center justify-between">
          <div class="block items-start">
            <p class="text-xl ml-4 py-2 text-black font-semibold font-serif">
              Account type Information
            </p>
            <div class="block items-start">
              <p
                class="text-xl ml-4 py-2 text-black font-semibold font-serif"
              ></p>
              <p class="text-lg ml-4 py-2 text-black font-semibold font-serif">
                Account type: {{ user_profile.role_type }}
              </p>
            </div>
            <button
              data-dialog-target="account-type-modal"
              class="rounded-md mb-2 mr-3 bg-slate-800 py-2 px-4 border border-transparent text-center text-sm text-white transition-all shadow-md hover:shadow-lg focus:bg-slate-700 focus:shadow-none active:bg-slate-700 hover:bg-slate-700 active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none ml-2"
              type="button"
            >
              Account Update
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- contact information section -->
  <div>
    <div class="flex items-center justify-center">
      <div class="py-2">
        <p class="font-semibold text-xl">Contact Information</p>
      </div>
    </div>
    <div class="block h-20 mb-4 rounded-xl bg-profile_gray max-w-screen-xl">
      <div class="flex items-center justify-between">
        <div class="flex items-start">
          {% if user_profile %}
          <p class="text-lg ml-4 py-2 text-black font-semibold font-serif">
            Contact: {{ user_profile.phone_number }}
          </p>
          {% else %}
          <p class="text-lg ml-4 py-2 text-black font-semibold font-serif">
            Contact: No contact information available
          </p>
          {% endif %}
        </div>
        <!-- contact modal section -->
        <button
          data-dialog-target="contact-modal"
          class="rounded-md m-3 bg-slate-800 py-2 px-4 border border-transparent text-center text-sm text-white transition-all shadow-md hover:shadow-lg focus:bg-slate-700 focus:shadow-none active:bg-slate-700 hover:bg-slate-700 active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none ml-2"
          type="button"
        >
          Contact Update
        </button>
      </div>
    </div>
  </div>

  <!-- payment information section -->
  <div>
    <div class="flex items-center justify-center">
      <div class="py-2">
        <p class="font-semibold text-xl">Payment Information</p>
      </div>
    </div>
    <div class="block h-20 mb-4 rounded-xl bg-profile_gray max-w-screen-xl">
      <div class="flex items-center justify-between">
        <div class="flex items-start">
          {% if user_profile %}
          <p class="text-lg ml-4 py-2 text-black font-semibold font-serif">
            Mpesa Number: {{ user_profile.mpesa_number }}
          </p>
          {% else %}
          <p class="text-lg ml-4 py-2 text-black font-semibold font-serif">
            Mpesa Number: No payment information available
          </p>
          {% endif %}
        </div>
        <button
          data-dialog-target="mpesa-number-modal"
          class="rounded-md m-3 bg-slate-800 py-2 px-4 border border-transparent text-center text-sm text-white transition-all shadow-md hover:shadow-lg focus:bg-slate-700 focus:shadow-none active:bg-slate-700 hover:bg-slate-700 active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none ml-2"
          type="button"
        >
          Mpesa no Update
        </button>
      </div>
    </div>
  </div>

  <!-- personal information modal -->
  <div
    data-dialog-backdrop="profile-info-modal"
    data-dialog-backdrop-close="true"
    class="pointer-events-none fixed inset-0 z-[999] grid h-screen w-screen place-items-center bg-black bg-opacity-60 opacity-0 backdrop-blur-sm transition-opacity duration-300"
  >
    <div
      data-dialog="profile-info-modal"
      class="relative mx-auto w-full max-w-[24rem] rounded-lg overflow-hidden shadow-sm"
    >
      <div class="relative flex flex-col bg-white">
        <div
          class="relative m-2.5 items-center flex justify-center text-white h-24 rounded-md bg-slate-800"
        >
          <h3 class="text-2xl">Personal Information</h3>
        </div>
        <form method="post">
          {% csrf_token %}
          <div class="flex flex-col gap-4 p-6">
            <div class="w-full max-w-sm min-w-[200px]">
              <label class="block mb-2 text-sm text-slate-600">
                Firstname
              </label>

              <div
                class="w-full bg-transparent placeholder:text-slate-400 text-slate-700 text-sm border border-slate-200 rounded-md px-3 py-2 transition duration-300 ease focus:outline-none focus:border-slate-400 hover:border-slate-300 shadow-sm focus:shadow"
              >
                {{ form_profile.first_name }}
              </div>
            </div>

            <div class="w-full max-w-sm min-w-[200px]">
              <label class="block mb-2 text-sm text-slate-600">
                Lastname
              </label>
              <div
                class="w-full bg-transparent placeholder:text-slate-400 text-slate-700 text-sm border border-slate-200 rounded-md px-3 py-2 transition duration-300 ease focus:outline-none focus:border-slate-400 hover:border-slate-300 shadow-sm focus:shadow"
              >
                {{ form_profile.last_name }}
              </div>
            </div>
            <div class="w-full max-w-sm min-w-[200px]">
              <label class="block mb-2 text-sm text-slate-600">
                Username
              </label>
              <div
                class="w-full bg-transparent placeholder:text-slate-400 text-slate-700 text-sm border border-slate-200 rounded-md px-3 py-2 transition duration-300 ease focus:outline-none focus:border-slate-400 hover:border-slate-300 shadow-sm focus:shadow"
              >
                {{ form_profile.username}}
              </div>
            </div>
          </div>
          <div class="p-6 pt-0">
            <button
              name="formProfile_submit"
              class="w-full rounded-md bg-slate-800 py-2 px-4 border border-transparent text-center text-sm text-white transition-all shadow-md hover:shadow-lg focus:bg-slate-700 focus:shadow-none active:bg-slate-700 hover:bg-slate-700 active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
              type="submit"
            >
              Update
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- payment information modal -->
  <div
    data-dialog-backdrop="account-type-modal"
    data-dialog-backdrop-close="true"
    class="pointer-events-none fixed inset-0 z-[999] grid h-screen w-screen place-items-center bg-black bg-opacity-60 opacity-0 backdrop-blur-sm transition-opacity duration-300"
  >
    <div
      data-dialog="account-type-modal"
      class="relative mx-auto w-full max-w-[24rem] rounded-lg overflow-hidden shadow-sm"
    >
      <div class="relative flex flex-col bg-white">
        <div
          class="relative m-2.5 items-center flex justify-center text-white h-24 rounded-md bg-slate-800"
        >
          <h3 class="text-2xl">Account type Update</h3>
        </div>
        <form method="post">
          {% csrf_token %}
          <div class="flex flex-col gap-4 p-6">
            <div class="w-full max-w-sm min-w-[200px]">
              <label class="block mb-2 text-sm text-slate-600">
                Account type
              </label>

              <div
                class="w-full bg-transparent placeholder:text-slate-400 text-slate-700 text-sm border border-slate-200 rounded-md px-3 py-2 transition duration-300 ease focus:outline-none focus:border-slate-400 hover:border-slate-300 shadow-sm focus:shadow"
              >
                {{ form_contact.role_type }}
              </div>
            </div>
          </div>
          <div class="p-6 pt-0">
            <button
              name="form_roletype_submit"
              class="w-full rounded-md bg-slate-800 py-2 px-4 border border-transparent text-center text-sm text-white transition-all shadow-md hover:shadow-lg focus:bg-slate-700 focus:shadow-none active:bg-slate-700 hover:bg-slate-700 active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
              type="submit"
            >
              Update
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- contact information modal -->
  <div
    data-dialog-backdrop="contact-modal"
    data-dialog-backdrop-close="true"
    class="pointer-events-none fixed inset-0 z-[999] grid h-screen w-screen place-items-center bg-black bg-opacity-60 opacity-0 backdrop-blur-sm transition-opacity duration-300"
  >
    <div
      data-dialog="contact-modal"
      class="relative mx-auto w-full max-w-[24rem] rounded-lg overflow-hidden shadow-sm"
    >
      <div class="relative flex flex-col bg-white">
        <div
          class="relative m-2.5 items-center flex justify-center text-white h-24 rounded-md bg-slate-800"
        >
          <h3 class="text-2xl">Contact Information</h3>
        </div>
        <form method="post">
          {% csrf_token %}
          <div class="flex flex-col gap-4 p-6">
            <div class="w-full max-w-sm min-w-[200px]">
              <label class="block mb-2 text-sm text-slate-600"> Contact </label>

              <div
                class="w-full bg-transparent placeholder:text-slate-400 text-slate-700 text-sm border border-slate-200 rounded-md px-3 py-2 transition duration-300 ease focus:outline-none focus:border-slate-400 hover:border-slate-300 shadow-sm focus:shadow"
              >
                {{ form_contact.phone_number }}
              </div>
            </div>
          </div>
          <div class="p-6 pt-0">
            <button
              name="formContact_submit"
              class="w-full rounded-md bg-slate-800 py-2 px-4 border border-transparent text-center text-sm text-white transition-all shadow-md hover:shadow-lg focus:bg-slate-700 focus:shadow-none active:bg-slate-700 hover:bg-slate-700 active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
              type="submit"
            >
              Update
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- payment information modal -->
  <div
    data-dialog-backdrop="mpesa-number-modal"
    data-dialog-backdrop-close="true"
    class="pointer-events-none fixed inset-0 z-[999] grid h-screen w-screen place-items-center bg-black bg-opacity-60 opacity-0 backdrop-blur-sm transition-opacity duration-300"
  >
    <div
      data-dialog="mpesa-number-modal"
      class="relative mx-auto w-full max-w-[24rem] rounded-lg overflow-hidden shadow-sm"
    >
      <div class="relative flex flex-col bg-white">
        <div
          class="relative m-2.5 items-center flex justify-center text-white h-24 rounded-md bg-slate-800"
        >
          <h3 class="text-2xl">Mpesa Number Information</h3>
        </div>
        <form method="post">
          {% csrf_token %}
          <div class="flex flex-col gap-4 p-6">
            <div class="w-full max-w-sm min-w-[200px]">
              <label class="block mb-2 text-sm text-slate-600">
                Mpesa Number
              </label>

              <div
                class="w-full bg-transparent placeholder:text-slate-400 text-slate-700 text-sm border border-slate-200 rounded-md px-3 py-2 transition duration-300 ease focus:outline-none focus:border-slate-400 hover:border-slate-300 shadow-sm focus:shadow"
              >
                {{ form_contact.mpesa_number }}
              </div>
            </div>
          </div>
          <div class="p-6 pt-0">
            <button
              name="form_mpesa_number_submit"
              class="w-full rounded-md bg-slate-800 py-2 px-4 border border-transparent text-center text-sm text-white transition-all shadow-md hover:shadow-lg focus:bg-slate-700 focus:shadow-none active:bg-slate-700 hover:bg-slate-700 active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
              type="submit"
            >
              Update
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  {% endblock %}
</div>
