{% load static %}
{% include "sidebar.html" %}
{% block content %}
<div class="p-4 sm:ml-64">
    <p class="text-2xl m-2 font-semibold tracking-tight leading-none text-black">
        Deliverables
    </p>
    <hr class="h-px my-2 bg-gray-200 border-0 dark:bg-gray-700" />
    
    <!-- Review & Feedback Screen -->
{% if user.userprofile.role_type == 'Client' %}
        {% for deliverables in client_deliverables %}
    <div class="bg-white shadow-lg rounded-lg p-6 mt-4">

        <form class="space-y-6" >
{#            {% csrf_token %}#}
            <div class="flex items-center justify-between p-4 bg-gray-50 rounded-lg">
                <div>
                    <label class="block text-sm font-medium text-gray-700 mb-1">Milestone:</label>
                    <span class="text-indigo-600 font-normal">{{ deliverables.title }}</span>
                </div>
                <div class="px-3 py-1 bg-blue-100 text-blue-800 text-sm font-medium rounded-full">
                    {{ deliverables.status|title }}
                </div>
            </div>
            <!-- Submitted Links -->
            <div class="space-y-2">
                <label class="block text-sm font-medium text-gray-700">
                    Submitted Google Drive/Github Links:
                </label>
                <div class="bg-gray-50 p-4 rounded-lg border">
                    <p class="text-gray-700 flex items-center">
                        <span class="text-lg mr-2">📄</span>
                        <span class="font-mono text-sm">{{ deliverables.submission_link }}</span>
                    </p>
                </div>
            </div>

            {% if deliverables.status == "rejected" %}
            <div class="pt-4">
                <a href="{% url 'disputes:dispute' deliverables.id %}"
                class="block text-center w-full bg-red-600 text-white py-3 px-4 rounded-md font-medium hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2 transition-colors"
                >
                    Raise Dispute
                </a>
            </div>
            {% elif deliverables.status == "pending" %}
            <div class="bg-blue-50 border-l-4 border-blue-500 p-4 mb-6">
                <div class="flex">
                  <div class="flex-shrink-0">
                    <svg class="h-5 w-5 text-blue-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                      <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2h-1V9z" clip-rule="evenodd" />
                    </svg>
                  </div>
                  <div class="ml-3">
                    <p class="text-sm text-blue-700">
                      You have a pending milestone deliverable for review.
                    </p>
                  </div>
                </div>
            </div>
            <div class="pt-4">
                <a href="{% url 'deliverables:review_deliverables' deliverables.id %}"
                    class="block text-center w-full bg-indigo-600 text-white py-3 px-4 rounded-md font-medium hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 transition-colors">
                    Review
                </a>
            </div>
            {% endif %}
        </form>
    </div>
        {% empty %}
            <div class="text-center py-8">
                <p class="text-gray-500">No deliverables found.</p>
            </div>
        {% endfor %}


        {% elif user.userprofile.role_type == 'Developer'%}
        {% for dev_deliverables in available_deliverables %}
        <form class="space-y-6" >
            {% csrf_token %}
            <!-- Milestone Section -->
            <div class="flex items-center justify-between p-4 bg-gray-50 rounded-lg">
                <div>
                    <label class="block text-sm font-medium text-gray-700 mb-1">Milestone:</label>
                    <span class="text-indigo-600 font-normal">{{ dev_deliverables.title }}</span>
                </div>
                <div class="px-3 py-1 bg-blue-100 text-blue-800 text-sm font-medium rounded-full">
                    {{ dev_deliverables.status }}
                </div>
            </div>
            
            <!-- Submitted Links -->
            <div class="space-y-2">
                <label class="block text-sm font-medium text-gray-700">
                    Submitted Google Drive/Github Links:
                </label>
                <div class="bg-gray-50 p-4 rounded-lg border">
                    <p class="text-gray-700 flex items-center">
                        <span class="text-lg mr-2">📄</span>
                        <span class="font-mono text-sm">{{ dev_deliverables.submission_link }}</span>
                    </p>
                </div>
            </div>
            
            <!-- Comments & Feedback -->
            <div class="space-y-2">
                <label for="reviewComments" class="block text-sm font-medium text-gray-700">
                    Comments & Feedback
                </label>
                <p>{{ dev_deliverables.reviewer_comments }}</p>
            </div>
            
            <!-- Submit Button -->
            {% if dev_deliverables.status == "rejected" or dev_deliverables.status == "revision_requested" %}
            <div class="pt-4">
                <div class="flex items-center justify-between p-4">
                    <button
                        type="submit"
                        class="w-1/2 m-2 bg-indigo-600 text-white py-3 px-4 rounded-md font-medium hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 transition-colors"
                    >
                        Resubmit
                    </button>
                    <a href="{% url 'disputes:dispute' dev_deliverables.id %}"
                    type="submit"
                    class="w-1/2 m-2 bg-indigo-600 text-white py-3 px-4 rounded-md font-medium hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 transition-colors"
                    >
                        Raise Dispute
                    </a>
                </div>
                {% elif dev_deliverables.status == "pending" %}
                <div class="bg-blue-50 border-l-4 border-blue-500 p-4 mb-6">
                    <div class="flex">
                      <div class="flex-shrink-0">
                        <svg class="h-5 w-5 text-blue-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                          <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2h-1V9z" clip-rule="evenodd" />
                        </svg>
                      </div>
                      <div class="ml-3">
                        <p class="text-sm text-blue-700">
                          Client Review in Progress
                        </p>
                      </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </form>
        {% endfor %}

        {% endif %}
{#    </div>#}
</div>
{% endblock %}