{% load static %} {% include "sidebar.html" %} {% block content %}
<div class="p-4 sm:ml-64">
  <p class="text-2xl m-2 font-semibold tracking-tight leading-none text-black">
    Project Requests
  </p>
  <hr class="h-px my-4 bg-gray-200 border-0 dark:bg-gray-700" />
  <div class="flex items-center justify-between m-5">
    <div>
      <button
        type="submit"
        class="w-40 text-white bg-gray-900 hover:bg-gray-600 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
      >
        Active
      </button>
    </div>
    <div>
      <button
        type="submit"
        class="w-40 text-white bg-gray-900 hover:bg-gray-600 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
      >
        Pending
      </button>
    </div>
    <div>
      <button
        type="submit"
        class="w-40 text-white bg-gray-900 hover:bg-gray-600 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
      >
        Completed
      </button>
    </div>
    <div>
      <button
        type="submit"
        class="w-40 text-white bg-gray-900 hover:bg-gray-600 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
      >
        Cancelled
      </button>
    </div>
  </div>

  <!-- filtered projects section -->
  {% if project_requests %} {% for request in project_requests %}

  <div
    class="w-full p-4 mt-5 text-center bg-white border border-gray-200 rounded-lg shadow-sm sm:p-8 dark:bg-customBlue"
  >
    <h5 class="mb-2 text-2xl font-bold text-gray-900 dark:text-white">
      {{ request.title }}
    </h5>
    <p class="text-start text-white">Client: {{request.sender_email}}</p>
    <p class="mb-5 text-start text-gray-950 sm:text-lg dark:text-gray-950">
      Description: {{ request.project_description|truncatechars:100 }}
    </p>
    <p class="text-start">Created: {{ request.created_at|date:"M d, Y" }}</p>
    <p class="text-start text-red-600">Status: {{ request.status}}</p>
    <div
      class="items-center justify-between space-y-4 sm:flex sm:space-y-0 sm:space-x-4 rtl:space-x-reverse"
    >
      <p class="text-start text-white">Budget: Ksh. {{ request.budget }}</p>
      <form action="{% url 'projects:milestones' request.id %}" method="post">
        {% csrf_token %}
        <button
          type="submit"
          name="create_milestones"
          class="w-40 text-white bg-gray-900 hover:bg-gray-600 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
        >
          Create Milestones
        </button>
      </form>
      <div>
        <form
          action="{% url 'projects:accept_project' request.id %}"
          method="post"
        >
          {% csrf_token %}
          <button
            type="submit"
            class="w-40 text-white bg-gray-900 hover:bg-gray-600 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
          >
            Accept
          </button>
        </form>
      </div>
    </div>
  </div>
  {% endfor %} {% else %}
  <p>No project requests found.</p>
  {% endif %}
</div>
{% endblock %}
