{% load static %} {% include "sidebar.html" %} {% block content %}

<div class="p-4 sm:ml-64">
  <p class="text-2xl m-2 font-semibold tracking-tight leading-none text-black">
    Projects
  </p>
  {{user.username}}
  <hr class="h-px my-4 bg-gray-200 border-0 dark:bg-gray-700" />

  {% if messages %} {% for m in messages %}
  <p>{{m}}</p>
  {% endfor %} {% endif %}

  <div class="flex flex-wrap h-60 mt-10">
    <div class="w-1/2 md:">
      <div
        class="w-full m-2 max-w-lg p-4 bg-white border border-gray-200 rounded-lg shadow-sm sm:p-8 dark:bg-customBlue dark:border-gray-700"
      >
        <form method="post" class="w-sm space-y-4 md:space-y-6">
          {% csrf_token %}
          <div class="flex items-center justify-center m-0 p-0">
            <p class="m-2 text-lg">Create a project request</p>
          </div>
          <div>
            <label for="title" class="block mb-2 text-sm font-medium text-white"
              >Project Title</label
            >
            <!-- <input
              type="text"
              name="title"
              id="title"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
              placeholder=""
            /> -->
            {{form.title}}
          </div>
          <div>
            <label
              for="project_description"
              class="block mb-2 text-sm font-medium text-white"
              >Project Description</label
            >
            <!-- <input
              type="text"
              name="project_description"
              id="project_description"
              class="bg-gray-50 border h-28 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
              placeholder="project Description"
            /> -->
            {{form.project_description}}
          </div>
          <div>
            <label
              for="project_budget"
              class="block mb-2 text-sm font-medium text-white"
              >Project Budget</label
            >
            <!-- <input
              type="number"
              name="budget"
              id="budget"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
              placeholder="project budget"
            /> -->
            {{form.budget}}
          </div>
          <div class="flex flex-wrap gap-4">
            <div>
              <label
                for="receiver"
                class="block mb-2 text-sm font-medium text-white"
                >Recipients Email</label
              >
              <!-- <input
                type="email"
                name="receiver"
                id="receiver"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
                placeholder="client/org email"
              /> -->
              {{form.receiver_email}}
            </div>
            <button
              type="submit"
              class="h-11 w-48 mt-7 p-2 text-white bg-gray-900 hover:bg-gray-600 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
            >
              Send
            </button>
          </div>
        </form>
      </div>
    </div>

    <!-- handle project requests -->
    <!-- {% if client_projectrequests %}  -->
    {% for request in client_projectrequests %}
    <div>
      <p class="m-2">Active projects</p>

      <div
        class="max-w-lg h-60 p-6 bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-customBlue dark:border-gray-700"
      >
        <a href="#">
          <h5
            class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white"
          >
            Project Title: {{request.title}}
          </h5>
        </a>
        <hr class="h-px bg-gray-200 border-0 dark:bg-gray-700" />
        <div class="flow-root">
          <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
            <li class="py-3 sm:py-4">
              <div class="flex items-center">
                <div class="shrink-0">
                  <p>Project Description:</p>
                </div>
                <div class="flex-1 min-w-0 ms-4">
                  <p
                    class="text-sm font-medium text-gray-900 truncate dark:text-white"
                  >
                    {{ request.project_description|truncatechars:50 }}
                  </p>
                </div>
                <div
                  class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white"
                >
                  Budget:Ksh. {{ request.budget }}
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    {% endfor %}
    <!-- {% endif %} -->
  </div>
</div>

{% endblock %}
